<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_onepage_controller_success_action">
	    <observer name="magecomp_place_order_after" instance="Magecomp\Whatsappbasic\Observer\Orderplaceafter" />
	</event>
</config>