<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="whatsappbasic">
            <group id="wappcountryflag" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Country Flag Settings</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Flag</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="detect_by_ip" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Country Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Based On IP Address]]></comment>
                </field>
                <field id="defaultcountry" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default SMS Country</label>
                    <source_model>Magecomp\Wappcountryflag\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="detect_by_ip">0</field>
                    </depends>
                </field>
            </group>
        </section>
     </system>
</config>
